{% extends 'base.html' %}
{% block title %}
    关于我
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        #container {
            width: 1200px;
            margin: 0 auto;
            margin-left: 250px;
        }

        #container p {
            width: 80%;
            background-color: #83cae3;
        }
    </style>
{% endblock %}

{% block newcontent %}
    <div id="container">
        <p>
            {% if not user.about %}
                还没有设置关于的设置，可以去用户中心去设置~~~~~
            {% else %}
                {{ user.about[0].content | cdecode2 | safe }}
            {% endif %}

            {#            {{ user.about.content | cdecode2 | safe }}#}
        </p>
    </div>
{% endblock %}
